<html>
    <head>
        <title>Delete Restaurants</title>
    </head>
    <body>
        <h1>Your Restaurants have been deleted</h1>
        
        <a href="/"><button type="submit">Back to Cuisines</button></a>
    </body>
</html>
