<html>
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <title>Restaurant Finder</title>
    </head>
    <body>
        <div class="container">
        <h1>Welcome to Restaurant Finder</h1>

        <p>Create a new cuisine:</p>

        <form action="/cuisines" method="post">
          <label for="type">Cuisine name:</label>
          <input id="type" name="type" type="text">

          <button type="submit">Add cuisine</button>
        </form>

        {% if cuisines is not empty %}
            <p>Here are all your cuisines:</p>
            <ul>
                {% for food in cuisines %}
                    <li><a href="/cuisines/{{ food.getTypeId }}">{{ food.getType }}</a></li>
                {% endfor %}
            </ul>


        {% else %}
          <p>There are no cuisines yet!</p>
        {% endif %}

        <form action='/delete_cuisines' method='post'>
            <button type='submit'>Clear cuisines</button>
        </form>
    </div>
    </body>
</html>
