<html>
    <head>
        <title>List of resturants</title>
    </head>
    <body>
        <h1>Your Restaurants</h1>
        {% if restaurants is not empty %}
        <ul>
            <li>{{ getName }}
            </ul>
    </body>
</html>
